/* dashboard.css */
body {
  background-color: #212631;
  margin: 0;
  padding: 0;
}

.container {
  padding: 30px;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #2a303d;
  color: #fff;
  position: fixed;
  height: 100%;
  padding-top: 20px;
  overflow-y: visible;
}

.navbar h2 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1.6rem;
}

.navbar a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  display: block;
  border-radius: 4px;

}

.navbar a,
.dropbtn {
  padding: 14px 20px;
  text-align: left;
  color: #cfd8e3;
  text-decoration: none;
  display: block;
  position: relative;
}

.navbar a:hover,
.dropbtn:hover {
  background-color: #212631;
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown .dropbtn {
  background-color: transparent;
  font-size: 15px;
}

.dropdown-content {
  display: none;
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

.dropdown-content a {
  color: #cfd8e3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  position: relative;
  font-size: 12px;
}

.dropdown-content a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
  margin-left: 15px;
}

.dropdown-content a:hover::after {
  width: 70%;
}

.dropdown-content a:hover {
  background-color: #2a303d;
  border-radius: 20px;
}

.dropbtn::after {
  content: '\25BC';
  float: right;
  margin-left: 5px;
  font-size: 12px;
  color: #cfd8e3;
}

.dropbtn:hover {
  background-color: #212631;
}

.dropdown:hover .dropbtn::after {
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  margin-left: 230px;
  width: calc(100% - 220px);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-left: -30px;
  padding-top: 15px;
}

.row2 {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #2a303d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 50%;
  border-color: #495057;
  border: 1px solid #495057;
}

.invoiceCard {
  background-color: #2a303d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 47%;
  border: 1px solid #495057;
  margin-left: -30px;
}

.invoiceCard h3 {
  margin: 0;
  color: #fff;
}

.card h3 {
  margin: 0;
  color: #fff;
}

.card p {
  color: #fff;
}

.invoiceMain {
  display: flex;
}

.section-title {
  color: #555;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.list-item {
  background-color: #212631;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease;
  color: #fff;
}

.invoiceCard .list-item {
  margin-left: -30px;
}

.list-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doughnut-chart-container {
  width: 80%;
  height: 90%;
  margin: auto;
}

.list-item button {
  background-color: #213547;
  max-width: 20%;
  color: aliceblue;
  transition: 0.2s ease-in-out;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}

.list-item button:hover {
  background-color: aliceblue;
  color: #212631;
}

.view-more {
  display: block;
  margin-top: 1rem;
  text-align: end;
  color: cornflowerblue;
  cursor: pointer;
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 18rem;
}